<h1>login page</h1>
<section id="authBlock">
<article>
    <h2>Login</h2>
    <form action="/auth/login" method="post" novalidate>
       
        <div>
      <input type="email" name="email" placeholder="enter email" required />
        </div>
        <div>
    <input type="password" name="password" placeholder="enter password" required />
        </div>
       
     <button>Login</button>
    </form>
</article>
</section>