<section id="authBlock">
<article>
    <h2>register</h2>
    <form action="/auth/register" method="post" novalidate>
        <div>
            <input type="text" name="username" placeholder="enter username" required />
        </div>
        <div>
      <input type="email" name="email" placeholder="enter email" required />
        </div>
        <div>
    <input type="password" name="password" placeholder="enter password" required />
        </div>
        <div>   
         <input type="password" name="confirmpassword" placeholder="confirm password" required />
     </div>
     <button>Register</button>
    </form>
</article>
</section>

