<h1>navbar auth bar</h1>

<section>
    <article>
      
        <div class="menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {{#if user}}
                 <li>
                    <a href="/auth/logout">Logout</a>
                </li>
                {{else}}
                 <li>
                    <a href="/auth/register">Register</a>
                </li>
                 <li>
                    <a href="/auth/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </article>
</section>