<section id="navBar">
    <article>
        <aside class="left">
            <figure><img src="/images/logo.png" alt="logo"></figure>
            <input type="search" placeholder="Search"><span class="search"><i class="fa-solid fa-magnifying-glass"></i></span>
        </aside>

        <aside class="right">
            <ul>
                <li><a href="http://localhost:5000/"><i class="fa-solid fa-house-chimney"></i></a>Home</li>
                <li><a href=""><i class="fa-solid fa-user"></i></a>My Profile</li>
                <li><a href=""><i class="fa-solid fa-briefcase"></i></a>Jobs</li>
                <li><a href=""><i class="fa-brands fa-facebook-messenger"></i></a>messaging</li>
                <li><a href=""><i class="fa-solid fa-bell"></i></a>notifications</li>
                <li><a href=""><i class="fa-solid fa-user-vneck"></i></a>Me</li>
            </ul>
        </aside>
    </article>
</section>

<nav>
    <li><a href="/company/feed">comany filelds</a></li>
    <li><a href="/company/getCompany">company detail</a></li>
    <li><a href="/">home</a></li>
</nav>
