<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>jobin</title>
            <link rel="stylesheet" href="../../css/company.css">
    <link rel="stylesheet" href="../../css/jobin.css">
        <link rel="stylesheet" href="\css\style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    {{!-- {{>_navbar}} --}}

    <section id="bgvideo">
  
  
      {{>_msg}}
    {{{body}}}
    </section>
    {{>_messages}}
    {{!-- {{>_navauth}} --}}
            <script src="../../js/company.js"></script>
    <script src="../../js/jobin.js"></script>
    <script src="../../js/slider.js"></script>
    <script src="../../js/post.js"></script>
    <script src="../../js/upload.js"></script>
     <script src="../../js/script.js"></script>


</body>
</html>